/* Reset styles */
@import url(reset.css);
/* ======================================== Fonts ======================================== */
@import url("https://fonts.googleapis.com/css?family=Mulish:300,regular,600&display=swap");
@font-face {
  font-family: "Rosewind";
  src: url(/fonts/rosewind/Rosewind-Regular.otf);
}
body {
  font-family: "Mulish";
  background-color: #000;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* ======================================== Page ======================================== */
.page {
  flex: 1 1 auto;
}
/* ================================================================================ */
/* ======================================== Header ======================================== */
.header {
  background-color: #fff;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  /* padding-top: 10px; */
}
.header__logo {
  position: relative;
  z-index: 2;
  padding-right: 25px;
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
  display: flex;
  align-items: center;
  column-gap: 70px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.menu__item {
}
.menu__item:hover {
  list-style: disc;
}
.menu__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.55;
  color: #262323;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .header__container,
  .menu__list {
    column-gap: 10px;
  }
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu:before,
  .icon-menu:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu:before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu:after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: -100%;
    top: 0;
    padding: 70px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #fff;
    z-index: 10;
    transition: left 0.3s ease;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .menu__link {
    font-size: 32px;
  }
  .header__container {
    min-height: 60px;
  }
}
.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}
.menu-open body {
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .menu__list {
    gap: 60px;
  }
}
/* ================================================================================ */
/* ======================================== Main ======================================== */
.main-block {
  position: relative;
}
.main-block__container {
  min-height: 100vh;
  padding-top: 88px;
  padding-bottom: 88px;
  position: relative;
  z-index: 1;
}
.main-block__row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.main-block__title {
  font-family: "Rosewind";
  text-align: center;
  font-weight: 400;
  font-size: 90px;
  line-height: 1.55;
  display: flex;
  flex-direction: column;
  color: #0f0606;
  max-width: 525px;
}
.main-block__body {
  display: flex;
  flex-direction: column;
}
.main-block__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.55;
  letter-spacing: 0.07em;
  color: #262323;
  margin-bottom: 33px;
  max-width: 560px;
}
.main-block__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #262323;
  border-radius: 32px;
  padding: 14px 53px;
  max-width: 267px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.55;
  color: #262323;
  transition: all 0.3s ease;
}
.main-block__button:hover {
  backdrop-filter: blur(10px);
}
.main-block__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 991.98px) {
  .main-block__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-block__row {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .main-block__body {
    display: block;
  }
  .main-block__background {
    opacity: 0.9;
  }
  .main-block__title {
    font-size: 80px;
  }
}
@media (max-width: 767.98px) {
  .main-block__title {
    font-size: 75px;
  }
  .main-block__text {
    margin-bottom: 25px;
  }
}
@media (max-width: 470.98px) {
  .main-block__title {
    font-size: 65px;
    line-height: 1.35;
    margin-bottom: 25px;
  }
  .main-block__button {
    display: flex;
    flex: 1 1 100%;
    max-width: none;
  }
}
@media (max-width: 425.98px) {
  .main-block__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .main-block__title {
    font-size: 50px;
  }
  .main-block__text {
    margin-bottom: 25px;
    max-width: none;
  }
}
/* ================================================================================ */
